@model FilmWebProject.Core.ViewModels.DirectorsListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<ul>
    @foreach (var element in Model.DirectorsList)
    {
        <li>
            @element.FirstName
            @element.LastName
        </li>
    }
</ul>