@using Model.Models
@model List<Model.Models.Notification>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">

    <tr>
        <th>
            Your notifications
        </th>
        <th>
            
        </th>
    </tr>
    @foreach (var notification in Model)
    {
        if (notification.NotificationType == NotificationType.FriendRequest)
        {
            <tr>
                <td>
                    @notification.Sender.FirstName @notification.Sender.LastName has sent you a friend request!
                </td>

                <td>
                    <a href="#" class="js-notification-friend-request" data-notification-id="@notification.Id" data-notification-friend-request-action = "Accept">
                        Accept
                    </a>
                    or
                    <a href="#" class="js-notification-friend-request" data-notification-id="@notification.Id" data-notification-friend-request-action = "Decline">
                        Decline
                    </a>
                </td>
            </tr>
        }
        
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-notification-friend-request").click(function(e) {
                var link = $(e.target);

                var notificationDto = {
                    id: link.attr("data-notification-id"),
                    Action: link.attr("data-notification-friend-request-action")
                };

                if (confirm("Are you sure you want to perform ths action?")) {
                    $.ajax({
                            url: "/api/notifications/FriendRequestResponse",
                            method: "POST",
                            contentType: 'application/json',
                            data: JSON.stringify(notificationDto)
                        })
                        .done(function() {
                            link.parents("tr").fadeOut(function() {
                                $(this).remove();
                            });
                        })
                        .fail(function() {
                            alert("Something went wrong!");
                        });
                }
            });
        })
    </script>
}