@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Filmweb Project</h1>
    <p class="lead">The project's features are based on popular polish website Filmweb. The goal is to practise the use of technologies i already know, as well as learning and implementing new ones.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Placeholder &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>News title</h2>
        <p>
            ---
        </p>
        <p><a class="btn btn-default" href="#">Placeholder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News title</h2>
        <p>---</p>
        <p><a class="btn btn-default" href="#">Placeholder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News title</h2>
        <p>---</p>
        <p><a class="btn btn-default" href="#">Placeholder &raquo;</a></p>
    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $.getJSON("/api/news");
        })
    </script>
}
