@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Filmweb Project</h1>
    <p class="lead">The project's features are based on popular polish website Filmweb. The goal is to practise the use of technologies i already know, as well as learning and implementing new ones.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Placeholder &raquo;</a></p>
</div>

<div class="row">
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $.getJSON("/api/news")
                .done(function (news) {

                    for (var i = 0; i < news.length; i++) {
                        $('.row').append('<div class="col-md-4" id = news-container-'+ i +'></ div>');
                        $('#news-container-' + i).append('<h2 id = news-title-' + i + ' >' + news[i].title + '</h2>');
                        $('#news-title-' + i).after('<a href= "#" id = s-description-' + i + ' >' + news[i].shortDescription + ' </a>');
                        $('#s-description-' + i).after('<p><a class="btn btn-default" href="#">Read More</a></p>');
                    }   
                });

        })
    </script>
}
