<li class ="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list">TEST</i><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            TEST
        </li>
        <li role="separator" class="divider"></li>
        <li>
            TEST
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Placeholder</a></li>
    </ul>
</li>
