
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table style="background-color: #FFFFFF; border: 3px #6D7B8D; padding: 5px; width: 99%; table-layout: fixed;">
    <tr style="height: 30px; background-color: #336699; color: #FFFFFF; border: solid 1px #659EC7;">
        <td align="center" colspan="2">
            <h2> Admin Panel</h2>
        </td>
    </tr>
    <tr>
        <td align="left" style="color: #53a7f7; padding-right: 10px;">

            <h3> Give moderator role to another user. Moderators can add new films/celebrities etc to Filmweb database. They can also write news.</h3>
        </td>
        <td align="center" style="color: #FFFFFF; padding-right: 10px;">

            <h3> @Html.ActionLink("Click to add new moderator", "AddModerator", "Admin") </h3>
        </td>
    </tr>
    <tr>
        <td align="left" style="color: #53a7f7; padding-right: 10px;">

            <h3>Placeholder</h3>
        </td>
        <td align="center" style="color: #FFFFFF; padding-right: 10px;">

            <h3> @Html.ActionLink("Placeholder", "", "Admin") </h3>
        </td>
    </tr>
    <tr>
        <td align="left" style="color: #53a7f7; padding-right: 10px;">

            <h3>Placeholder</h3>
        </td>
        <td align="center" style="color: #FFFFFF; padding-right: 10px;">

            <h3> @Html.ActionLink("Placeholder", "", "Admin") </h3>
        </td>
    </tr>
    <tr>
        <td align="left" style="color: #53a7f7; padding-right: 10px;">

            <h3>Placeholder</h3>
        </td>
        <td align="center" style="color: #FFFFFF; padding-right: 10px;">

            <h3> @Html.ActionLink("Placeholder", "", "Admin") </h3>
        </td>
    </tr>
</table> 