
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Admin Panel</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-6">Give moderator role to another user. Moderators can add new films/celebrities etc to Filmweb database. They can also write news.</div>
        </div>
        <div>
            <div class="col-md-6 pull-right">@Html.ActionLink("Click to add new moderator", "AddModerator", "Admin").</div>
        </div>
    </div>
</div>