body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: #e6ecf0;*/
    background: gainsboro;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    margin: auto;
}

.form-inline {
    padding-bottom: 25px;
}

 .film-posters {
    margin-bottom: 25px;
}

.col-md-4, film-posters {
    min-width: 225px;
}

.myCarousel {
    margin-bottom: 25px;
}

.news-posters {
    margin-bottom: 25px;
}

.toggle-filter-films {
    display: none;
    background: aliceblue;
    padding: 10px;
}

.btn-filters {
    color: azure;
}