
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose Person</h2>

<ul>
    <li>@Html.ActionLink("Create Composer", "Create", "Composers")</li>
    <li>@Html.ActionLink("Create Director", "Create", "Directors")</li>
    <li>@Html.ActionLink("Create Cinematographer", "Create", "Cinematographers")</li>
    <li>@Html.ActionLink("Create Scriptwriter", "Create", "Scriptwriters")</li>
</ul>